# Python/venv/cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.env
*.env

# Tests outputs
.pytest_cache/
coverage/
htmlcov/
*.log

# Local DB & images
db/
*.sqlite
*.db
images/

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

actions-runner/