.en# Ignore Python bytecode cache directories
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore other common unwanted files
*.log

chromedriver-linux64.zip

chromedriver-linux64/

db/

init_db_*.py